* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;


    --hue: 10;
    --color-base-white: hsl(0, 0%, 100%);
    --color-base-white-bg: hsl(0, 0%, 93%);
    --color-base-gray-100: hsl(0, 0%, 96%);
    --color-base-gray-300: hsl(var(--hue), 60%, 58%);
    --color-base-gray-600: hsl(0, 0%, 24%);
    --color-base-gray-900: hsl(var(--hue), 60%, 30%);
}

html, body, input {
    font-family: 'Mulish', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-base-white);
    color: var(--color-base-gray-900);
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}
main {
    background: var(--color-base-gray-100);
    overflow-y: scroll;
}

header,
nav,
nav ul {
    display: flex;
    align-items: center;
    gap: 7.2rem;
    font-weight: 700;
}

header form {
    flex: 1;
}

nav ul {
    list-style: none;
    font-size: 1.8rem;
    color: var(--color-base-gray-300);
}

ul li.active {
    color: var(--color-base-gray-900);
}

.avatar {
    height: 4.2rem;
    width: 4.2rem;

    border-radius: 50%;
}

form input {
    padding: 1.2rem 1.6rem;
    width: 100%;
    background-color: var(--color-base-white-bg);
    border: 0;
    border-radius: 0.5rem;

    color: var(--color-base-gray-600);
    font-size: 1.4rem;
    font-weight: 600;
}




main h1 {
    padding-top: 2rem;
    padding: 1.6rem 0 2.6rem;
    font-size: 24px;
}

main h2 {
    font-size: 19px;
    font-weight: 700;
}

main span {
    padding: 0.756rem;
    margin-bottom: 0.756rem;
    background: var(--color-base-gray-100);
    border-radius: 6px;

    font-size: 1.1345rem;
    font-weight: 400;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.1rem;
}

.item {
    background: var(--color-base-white);
    border-radius: 8px;
}

.item:hover {
    transform: scale(1.03);
}

.item:hover img {
    filter: brightness(1.1);
}

.item figcaption {
    margin: 2.269rem;
    padding-bottom: 0.756rem;

    display: flex;
    flex-direction: column;
    gap: 1.229rem;
}

.item img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    border-radius: 8px 8px 0 0;

}


footer p {
    text-align: center;
    padding: 1rem;
    font-weight: 600;
}



header {
    --startY: -100%;

    animation: move .2s;
}

footer {
    --startY: 100%;

    animation: move .2s;
}

@keyframes move {
    0% {
        transform: translateY(var(--startY));
    }
}

.item {
    --delay: .4s; 

    animation: appear .4s var(--delay) backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.2);
    }
}